<div *ngIf="showAddEmployee">
  <h2>employee-add.component</h2>
  <div>
    <form #employeeForm (ngSubmit)="addEmployee(employee)">
    <div>
      <div>
        <label for="firstName">First name: </label>
        <mat-form-field>
          <input matInput id="firstName" [(ngModel)]="employee.firstName"
              name="firstName">
        </mat-form-field>
      </div>
      <div>
        <label for="lastName">Last name: </label>
        <mat-form-field>
          <input matInput id="lastName" [(ngModel)]="employee.lastName"
              name="lastName">
        </mat-form-field>
      </div>
      <div>
        <label for="salary">Salary: </label>
        <mat-form-field>
          <input matInput id="salary" [(ngModel)]="employee.salary"
              name="salary">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button type="submit">SUBMIT</button>
      </div>
    </div>
    </form>
  </div>
</div>