.align-right {
    text-align: right;
}

a, a:visited {
    text-decoration: none;
    color: #000000;
}

button {
    margin: 1rem 0rem 1rem 0rem;
}

div {
    background-color: #303030;
    color: #ffffff;
}