<!-- <div *ngIf="employees.length; else spinner"> -->
<div>
  <div>
    <table mat-table [dataSource]="employees">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let employee">
            {{ employee.firstName }} {{ employee.lastName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>EDIT</th>
        <td mat-cell *matCellDef="let employee">
          <button mat-raised-button
              (click)="selectEmployeeForModification(employee)">EDIT</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="fire">
        <th mat-header-cell *matHeaderCellDef>FIRE</th>
        <td mat-cell *matCellDef="let employee">
          <button mat-raised-button color="warn"
              (click)="selectForDeletion(employee)">FIRE</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div>
    <button mat-raised-button class="m-top-bottom"
        (click)="showAddEmployee()">ADD EMPLOYEE</button>
  </div>
</div>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>

<div>
  <app-employee-add [showAddEmployee]="showAddEmployeeInput"
      (pushEmplToList)="addEmployeeToList($event)"
      (hideAddEmpl)="hideAddEmplInput()"></app-employee-add>
</div>

<div>
  <app-employee-modify
      [employeeToBeModified]="employeeSelectedForModification"></app-employee-modify>
</div>