<div *ngIf="!loginSuccessful">
  <div>
    <h2>Please log in:</h2>
    <div>
      <label for="username">username:</label>
      <mat-form-field>
        <input matInput type="text" id="username" [(ngModel)]="username"
            (ngModelChange)="killError()">
      </mat-form-field>
    </div>
    <div>
      <label for="password">password:</label>
      <mat-form-field>
        <input matInput type="password" id="password" [(ngModel)]="password"
            (ngModelChange)="killError()">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button type="submit"
          (click)="checkCredentials()">LOG IN</button>
    </div>
  </div>
  <div *ngIf="waiting">
      <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="passwordIncorrect">
      Error: password incorrect!
  </div>
  <div *ngIf="userUnknown">
      Error: user not found!
  </div>
</div>

<div *ngIf="loginSuccessful">
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/welcome">Welcome</button>
    <button mat-menu-item routerLink="/employees">Employees</button>
  </mat-menu>
</div>

<div *ngIf="loginSuccessful">
  <router-outlet></router-outlet>
</div>