<div *ngFor="let user of userNgxs$ | async">

    <h2>Hello {{ user.accountname }}!</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque iste qui
        quos voluptatum amet, obcaecati, quas, veritatis repellendus eos incidunt
        nostrum facere magni doloribus illo illum similique exercitationem nobis
        voluptatibus!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque iste qui
        quos voluptatum amet, obcaecati, quas, veritatis repellendus eos incidunt
        nostrum facere magni doloribus illo illum similique exercitationem nobis
        voluptatibus! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Itaque iste qui quos voluptatum amet, obcaecati, quas, veritatis repellendus
        eos incidunt nostrum facere magni doloribus illo illum similique 
        voluptatibus!</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque iste qui
        quos voluptatum amet, obcaecati, quas, veritatis repellendus eos incidunt
        nostrum facere magni doloribus illo illum similique exercitationem nobis
        voluptatibus!</p>

</div>